.Consignes {
    background-color: #e9e9e5;
    padding: 4px;
    margin: 16px 0;
}

.Exercice {
    border: solid 1px darkgrey;
    padding: 8px;
    margin: 8px 0;
    border-radius: 4px;
}

.Note {
    border-left: 2px solid #2c3dd6;
    padding: 4px;
    background-color: #dcdcd8;
}

.Code, code {
    background: #dfdfdf;
    padding: 0 4px;
    border-radius: 2px;
    color: #d75b3f;
}


body {
    height: 100vh;
    width: 1200px;
    margin: auto;
}

button {
    outline: none;
    border: none;
    background-color: lightsteelblue;
    border-radius: 3px;
    padding: 4px;
    height: 24px;
    min-width: 80px;
    cursor: pointer;
    margin: 0 4px;
}
