.Upgrade {
  margin: $mediumSpacing 0;
  padding: $mediumSpacing;
  text-align: center;

  display: grid;
  align-items: center;
  grid-template-columns: 32px 1fr 50px 80px;

  &--header {
    border-bottom: 1px $grey solid;
  }

  &__image {
    height: 32px;
  }
}
