.Upgrade {
  margin: $mediumSpacing 0;
  padding: $mediumSpacing;
  text-align: center;

  display: grid;
  grid-template-columns: 40px 100px 1fr;

  &--header {
    border-bottom: 1px $grey solid;
  }
}
