.App {

}

#root {
  height: 100vh;
}

.Header {
  display: flex;
  justify-content: space-around;

  &__link {
    border: solid 1px;
    color: black;
    padding: 4px 8px;
    border-radius: 4px;
    text-decoration: none;
    background-color: aliceblue;
    transition: 250ms background-color ease;

    &:hover {
      transition: 250ms background-color ease;
      background-color: #dce4eb;
    }

    &--active {
      background-color: #dce4eb;
      transition: 250ms background-color ease;
    }
  }
}

.Products {
  border: solid;
  margin: 8px;
  padding: 8px;
  border-radius: 8px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-column-gap: 24px;
  grid-row-gap: 16px;
}

.Product {
  color: black;
  border: solid 1px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px 0;

  &__action {
    border: none;
    padding: 4px 8px;
    width: 40px;
    font-size: 1.25em;
    cursor: pointer;
    border-radius: 4px;
    background-color: cornflowerblue;
  }
}
